<!DOCTYPE html>

<html lang="en">
<head>
<meta charset="utf-8"/>
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
<title>Banner</title>
<link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" rel="stylesheet"/>
<link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" rel="stylesheet"/>
<link href="https://fonts.googleapis.com/css2?family=Pinyon+Script&amp;display=swap" rel="stylesheet"/>
<link href="http://localhost:8002/media/azhar/templates/124/css/weddingBanner.css" rel="stylesheet"/>
</head>
<body>
<div class="stylish-container py-3 px-0">
<div class="heading1">
<img src="img/mohey_horizontal_3D_logo_for_pages.png"/>
</div>
<div class="heading2 pt-2">
<span>CELEBRATION YEAR FOR WOMEN</span>
</div>
<div class="left-design"></div>
<div class="right-design"></div>
</div>
<div class="container-fluid wed-banner1 p-0">
<div class="inner-container py-5">
<div class="row py-3 no-gutters">
<div class="col-4 col-md-3 offset-1 pr-4 d-flex flex-column">
<a class="img-container" href="#">
<div class="top-style"></div>
<div class="bottom-style"></div>
<img src="img/alia2.jpg"/>
<div class="overlay-content">
<div class="text-box">
<span class="text">
                    SAREES
                  </span>
</div>
</div>
</a>
<a class="img-container flex-grow-1 mt-4" href="#">
<div class="top-style"></div>
<div class="bottom-style"></div>
<img src="img/web_mohey_gown_coll.jpg"/>
<div class="overlay-content">
<div class="text-box">
<span class="text">
                    SAREES
                  </span>
</div>
</div>
</a>
</div>
<div class="col-6 col-md-4 pr-0 pr-md-4">
<a class="img-container h-100 d-block" href="#">
<div class="top-style"></div>
<div class="bottom-style"></div>
<img src="img/alia1.jpg"/>
<div class="overlay-content">
<div class="text-box">
<span class="main-heading">
                    Bridal Collection
                  </span>
<span class="collection-btn">
                    VIEW COLLECTION
                  </span>
</div>
</div>
</a>
</div>
<div class="col-10 col-md-3 offset-1 offset-md-0 d-flex d-md-block mt-4 mt-md-0">
<a class="img-container d-none d-md-block mr-4 mr-md-0" href="#">
<div class="top-style"></div>
<div class="bottom-style"></div>
<img src="img/Manyavar_Homepage_Mohey-Grid_Kurti.jpg"/>
<div class="overlay-content">
<div class="text-box">
<span class="text">
                    SAREES
                  </span>
</div>
</div>
</a>
<a class="img-container d-block flex-grow-1 mt-0 mt-md-4" href="#">
<div class="top-style"></div>
<div class="bottom-style"></div>
<img src="img/web_mohey_wed_coll.jpg"/>
<div class="overlay-content">
<div class="text-box">
<span class="text">
                    SAREES
                  </span>
</div>
</div>
</a>
</div>
</div>
</div>
</div>
<script crossorigin="anonymous" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script crossorigin="anonymous" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script crossorigin="anonymous" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

</body>
</html>