<!DOCTYPE html>

<html lang="en">
<head>
<meta charset="utf-8"/>
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
<link href="./gallery_style.css" rel="stylesheet"/>
<script crossorigin="anonymous" src="https://kit.fontawesome.com/8884192d9c.js"></script>
<link href="https://use.fontawesome.com/releases/v5.0.7/css/all.css" rel="stylesheet"/>
<title>Document</title>
<link href="http://localhost:8002/media/Israil/templates/26/css/templateCss.css" rel="stylesheet" type="text/css"/></head>
<body>
<div class="image-widgets">
<img alt=" src="replaced.file"/>
<img alt=" src="replaced.file"/>
<img alt=" src="replaced.file"/>
<img alt=" src="replaced.file"/>
<img alt=" src="replaced.file"/>
<img alt=" src="replaced.file"/>
<img alt=" src="replaced.file"/>
<img alt=" src="replaced.file"/>
<img alt=" src="replaced.file"/>
<img alt=" src="replaced.file"/>
<img alt=" src="replaced.file"/>
</div>
<div id="galleryContainer">
<a href="#" id="left"><i class="fas fa-long-arrow-alt-left"></i></a>
<img alt=" class="image-gallery" src="replaced.file"/>
<a href="#" id="right"><i class="fas fa-long-arrow-alt-right"></i></a>
<div class="image-scroll">
<img alt=" src="replaced.file"/>
<img alt=" src="replaced.file"/>
<img alt=" src="replaced.file"/>
<img alt=" src="replaced.file"/>
<img alt=" src="replaced.file"/>
<img alt=" src="replaced.file"/>
<img alt=" src="replaced.file"/>
<img alt=" src="replaced.file"/>
<img alt=" src="replaced.file"/>
<img alt=" src="replaced.file"/>
<img alt=" src="replaced.file"/>
</div>
</div>
<script src="./app.js"></script>
<script src="http://localhost:8002/media/Israil/templates/26/js/templateJs.js" type="text/javascript"></script></body>
</html>