<!DOCTYPE html>

<html lang="en">
<head>
<meta charset="utf-8"/>
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
<title>Fading</title>
<link crossorigin="anonymous" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" rel="stylesheet"/>
<link href="https://fonts.gstatic.com" rel="preconnect"/>
<link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&amp;family=Fraunces:wght@100;200;300;400;500;600;700;800;900&amp;display=swap" rel="stylesheet"/>
<link href="fadein.css" rel="stylesheet"/>
<link href="http://localhost:8002/media/hello/templates/175/css/templateCss.css" rel="stylesheet" type="text/css"/></head>
<body>
<div class="student-jounery-intro">
<h1>As we said before, we are all about transparency
			we also care about smooth experience for a student with us.
		</h1>
<p>
			To give a complete walkthrough here is a small visual representation for the whole student journey. Let"s see how we guide you and ease the process you thought will be difficult.
		</p>
</div>
<div class="student-journey-starts">
<div class="journey-img-container">
<div class="images-sticky">
<img alt="" class="i-1" src="http://localhost:8002/media/hello/templates/175/templateMediafiles/1.svg"/>
<img alt="" class="i-2" src="http://localhost:8002/media/hello/templates/175/templateMediafiles/2.svg"/>
<img alt="" class="i-3" src="http://localhost:8002/media/hello/templates/175/templateMediafiles/3.svg"/>
<img alt="" class="i-4" src="http://localhost:8002/media/hello/templates/175/templateMediafiles/4.svg"/>
<img alt="" class="i-5" src="http://localhost:8002/media/hello/templates/175/templateMediafiles/5.svg"/>
<img alt="" class="i-6" src="http://localhost:8002/media/hello/templates/175/templateMediafiles/6.svg"/>
</div>
</div>
<div class="journey-div f-1">
<div class="para-grid">
<div class="para-container p-1">
<p>Student comes to Learnivio
						in a confused state of mind,
						he has a goal but not the correct roadmap to achieve it.
						  
					</p>
</div>
<div class="para-container p-2">
<p>A counsellor makes a study plan after take an assessment test.
					</p>
</div>
<div class="para-container p-3">
<p>Out of various available faculties we offer him the one that match with his learning curve.
						  
					</p>
</div>
<div class="para-container p-4">
<p>Then he will study in a small batch. Along this he will get tailored assignments, test, and self study support.
						  
					</p>
</div>
<div class="para-container p-5">
<p>Through futuristic courses like that on critical thinking we will work on his numerical solving skills.
						  
					</p>
</div>
<div class="para-container p-6">
<p>At the End.
						It"s a start of a success story.
						  
					</p>
</div>
</div>
</div>
<div class="journey-div f-11">
<img alt="" class="i-21" data-aos="zoom-in-up" src="http://localhost:8002/media/hello/templates/175/templateMediafiles/1.svg"/>
<div class="para-container">
<p>Student comes to Learnivio
					in a confused state of mind,
					he has a goal but not the correct roadmap to achieve it.
					  
				</p>
</div>
</div>
<div class="journey-div f-2">
<img alt="" class="i-2" data-aos="zoom-in-up" src="http://localhost:8002/media/hello/templates/175/templateMediafiles/2.svg"/>
<div class="para-container">
<p>A counsellor makes a study plan after take an assessment test.
					  
				</p>
</div>
</div>
<div class="journey-div f-3">
<img alt="" class="i-3" data-aos="zoom-in-up" data-aos-duration="4000" src="http://localhost:8002/media/hello/templates/175/templateMediafiles/3.svg"/>
<div class="para-container">
<p>Out of various available faculties we offer him the one that match with his learning curve.
					  
				</p>
</div>
</div>
<div class="journey-div f-4">
<img alt="" class="i-4" data-aos="zoom-in-up" src="http://localhost:8002/media/hello/templates/175/templateMediafiles/4.svg"/>
<div class="para-container">
<p>Then he will study in a small batch. Along this he will get tailored assignments, test, and self study support.
					  
				</p>
</div>
</div>
<div class="journey-div f-5">
<img alt="" class="i-5" data-aos="zoom-in-up" src="http://localhost:8002/media/hello/templates/175/templateMediafiles/5.svg"/>
<div class="para-container">
<p>Through futuristic courses like that on critical thinking we will work on his numerical solving skills.
					  
				</p>
</div>
</div>
<div class="journey-div f-6">
<img alt="" class="i-6" data-aos="zoom-in-up" src="http://localhost:8002/media/hello/templates/175/templateMediafiles/6.svg"/>
<div class="para-container">
<p>At the End.It"s a start of a success story.
					  
				</p>
</div>
</div>
</div>
<script src="fadein2.js"></script>
<!--<script src="fadein.js"></script>-->
<script src="http://localhost:8002/media/hello/templates/175/js/templateJs.js" type="text/javascript"></script></body>
</html>