<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="css/templateNav.css" />
  </head>
  <body>
    <div class="nav-container">
      <nav class="top-nav">
        <div class="logo-container">
          <img width="50px" src="img/apple-icon.png" />
        </div>
        <ul class="nav-links">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">Components</a></li>
          <li><a href="#">Examples</a></li>
          <li><a href="#">About</a></li>
        </ul>

        <div class="search-content h-100 flex-grow-1">
          <div class="search-input d-flex w-100 align-items-center">
            <input
              autofocus
              type="text"
              class="h-100 flex-grow-1"
              placeholder="SEARCH FOR INSPIRATION (HTML,VR).."
            />
            <div
              class="close-search d-flex align-items-center justify-content-center"
              onclick="closeSearch()"
            >
              <img width="37px" src="img/close 3.png" />
            </div>
          </div>
        </div>

        <div class="right-container">
          <div class="search-link" onclick="openSearch()">
            <div
              class="input-icon h-100 w-100 d-flex align-items-center justify-content-center"
            >
              <span class="fa fa-search"></span>
            </div>
          </div>
          <div class="account">
            <a href="#"
              ><span class="d-none d-md-inline">SignUp</span>
              <span class="d-md-none fa fa-user"></span
            ></a>
          </div>
        </div>
      </nav>
    </div>

    <div class="banner1 pl-5 pt-5">
      <div class="banner-details row no-gutters">
        <div class="col-6 pl-3">
          <div class="row no-gutters">
            <div class="col-12 heading">
              Why waste time <br />in building common components?
            </div>
            <div class="col-12 mt-3 sub-heading">
              Use your time in being creative.
              <br />
              Create commonly used components using our website without wasting
              much of your precious time. Dont want dull themed components?
              Checkout our website!<br />
              You won't be dissapointed.
            </div>
            <div class="col-12 examples mt-3">
              <a href="#">Examples</a>
            </div>
          </div>
        </div>
        <div class="col-6 p-4">
          <img src="img/vector 2.png" />
        </div>
      </div>
      <div class="bottom-vector">
        <img src="img/Vector 1.png" />
      </div>
    </div>

    <div class="banner2 p-5">
      <div class="up-heading row no-gutters justify-content-center">
        <div class="col-5 text-center">
          A community of web developers who value your precious time. We ensure
          developers dont waste time in coding things which are already quite
          common on the web.
        </div>
      </div>
      <div class="row features no-gutters mt-5">
        <div class="col-4 p-3">
          <div class="text-container p-4">
            Fully designed components so that you dont need to style it all the
            way.
          </div>
        </div>
        <div class="col-4 p-3">
          <div class="text-container p-4">
            Responsive components for all screen devices.
          </div>
        </div>
        <div class="col-4 p-3">
          <div class="text-container p-4">
            Large number of components to choose from.
          </div>
        </div>
      </div>
      <div class="down-heading row no-gutters justify-content-center mt-5 pb-5">
        <div class="col-5 text-center">
          Use your time.<br />
          Be creative. <br />
        </div>
      </div>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.5.1.js"
      integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
      crossorigin="anonymous"
    ></script>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <script src="js/templateNav.js"></script>
  </body>
</html>
