<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/color.css" />
    <script src="https://unpkg.com/vanilla-picker@2"></script>
    <title>Document</title>
  </head>
  <body>
    <div
      class="container"
      style="display: block; background: url('./avatar.jfif'); border-image: url(./avatar.jfif);"
    >
      <div
        style="border-image: url(./avatar.jfif);"
        class="left"
        style="background-image: url(./avatar.jfif),url(./avatar.jfif); display: inline"
      >
        <div id="parent">Click me</div>
        <img src="./avatar.jfif" alt="" />
        <audio src="./Recording (2).m4a" controls>
          <!-- <source src="horse.ogg" type="audio/ogg">
          <source src="horse.mp3" type="audio/mpeg"> -->
          <source src="./Recording (2).m4a" type="audio/m4a">
          Your browser does not support the audio tag.
        </audio>
        <video style="padding: 5px;" controls width="400" height="250"
        src="./Screen Recording 2020-07-11 at 8.24.25 PM.mov">
          <!-- <source src="./bandicam 2020-06-25 01-42-24-884.mp4"> -->
        </video>
        <img alt="" src="./avatar.jfif" />
      </div>
    </div>

    <script src="https://unpkg.com/vanilla-picker@2"></script>
    <script src="./color.js"></script>
  </body>
</html>
