<!DOCTYPE html>

<html lang="en">
<head>
<meta charset="utf-8"/>
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>

<script src="https://unpkg.com/vanilla-picker@2"></script>
<title>Document</title>
</head>
<body>
<div class="container" style="display: block; background: url('./avatar.jfif'); border-image: url(./avatar.jfif);">
<div class="left" style="background-image: url(./avatar.jfif),url(./avatar.jfif); display: inline;">
<div id="parent">Click me</div>
<img alt=" src="./avatar.jfif"/>
<audio controls=" src="./Recording (2).m4a">
<!-- <source src="horse.ogg" type="audio/ogg">
          <source src="horse.mp3" type="audio/mpeg"> -->
<source src="./Recording (2).m4a" type="audio/m4a"/>
          Your browser does not support the audio tag.
        </audio>
<video controls=" height="250" src="./Screen Recording 2020-07-11 at 8.24.25 PM.mov" style="padding: 5px;" width="400">
<!-- <source src="./bandicam 2020-06-25 01-42-24-884.mp4"> -->
</video>
<img alt=" src="./avatar.jfif"/>
</div>
</div>
<script src="https://unpkg.com/vanilla-picker@2"></script>

</body>
</html>