<!DOCTYPE html>

<html lang="en">
<head>
<meta charset="utf-8"/>
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
<title>Apple</title>
<link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" rel="stylesheet"/>
<link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" rel="stylesheet"/>
<link href="css/apple.css" rel="stylesheet"/>
<link href="http://localhost:8002/media/azhar/templates/165/css/templateCss.css" rel="stylesheet" type="text/css"/></head>
<body>
<!--Nav-->
<div class="fixed-nav">
<div class="nav-container">
<ul class="links-container">
<li>
<a class="apple-logo" href="#"></a>
</li>
<li>
<a href="#">
<span>Mac</span>
</a>
</li>
<li>
<a href="#">
<span>iPad</span>
</a>
</li>
<li>
<a href="#">
<span>iPhone</span>
</a>
</li>
<li>
<a href="#">
<span>Watch</span>
</a>
</li>
<li>
<a href="#">
<span>Tv</span>
</a>
</li>
<li>
<a href="#">
<span>Music</span>
</a>
</li>
<li>
<a href="#">
<span>Support</span>
</a>
</li>
<li>
<a class="search-logo" href="#"> </a>
</li>
<li>
<a class="bag-logo" href="#"> </a>
</li>
</ul>
</div>
</div>
<div class="container-fluid not-1 text-center">
      Evaluate COVID‑19 symptoms and understand next steps.
    </div>
<div class="container-fluid not-2 text-center">
<a href="#">Shop online</a> and get free, no‑contact delivery, Specialist
      help, and more.
    </div>
<div class="container-fluid banner1 pb-5">
<div class="row no-gutters pt-5">
<div class="col-12 text-center">
<div class="main-heading">
            iPhone SE
          </div>
<div class="heading">
            Lots to love. Less to spend.<br/>
            Starting at $399.
          </div>
<div class="sub-heading mt-2">
            From $9.54/mo. or $229 with trade-in.
          </div>
<div class="options mt-1">
<a href="#">Learn more</a>
<a href="#">Buy</a>
</div>
</div>
</div>
<div class="row pb-5 no-gutters justify-content-center">
<div class="img-column"></div>
</div>
</div>
<div class="container-fluid banner2">
<div class="row no-gutters pt-5">
<div class="col-12 text-center">
<div class="main-heading" style="color: var(--color_1);">
            iPhone 11
          </div>
<div class="heading" style="color: var(--color_1);">
            Just the right amount of everything.
          </div>
<div class="sub-heading mt-2">
            From $19.995/mo. or $479 with trade-in.
          </div>
<div class="options mt-1">
<a href="#">Learn more</a>
<a href="#">Buy</a>
</div>
</div>
</div>
<div class="absolute-img"></div>
</div>
<div class="container-fluid banner3">
<div class="row no-gutters pt-5">
<div class="col-12 text-center">
<div class="main-heading" style="color: var(--color_1);">
            iPad Pro
          </div>
<div class="heading" style="color: var(--color_1);">
            Your next computer is not a computer.
          </div>
<div class="options mt-1">
<a href="#">Learn more</a>
<a href="#">Buy</a>
</div>
</div>
</div>
<div class="absolute-img"></div>
</div>
<div class="container-fluid banner4 p-1">
<div class="row no-gutters">
<div class="col-12 col-md-6 first p-2">
<div class="layout-container">
<div class="text-container py-5">
<div class="main-heading" style="color: var(--color_1);">
                Buy a Mac or iPad for <br/>
                college. Get AirPods.
              </div>
<div class="options mt-1">
<a href="#">Shop</a>
</div>
</div>
<div class="absolute-img"></div>
</div>
</div>
<div class="col-12 col-md-6 second p-2">
<div class="layout-container">
<div class="text-container py-5">
<div class="main-heading" style="color: var(--color_1);">
                Buy a Mac or iPad for <br/>
                college. Get AirPods.
              </div>
<div class="options mt-1">
<a href="#">Shop</a>
</div>
</div>
<div class="absolute-img"></div>
</div>
</div>
<div class="col-12 col-md-6 third p-2">
<div class="layout-container">
<div class="text-container py-5">
<div class="main-heading" style="">
                Buy a Mac or iPad for <br/>
                college. Get AirPods.
              </div>
<div class="options mt-1">
<a href="#" style="color: var(--color_2);">Shop</a>
</div>
</div>
<div class="absolute-img"></div>
</div>
</div>
<div class="col-12 col-md-6 fourth p-2">
<div class="layout-container">
<div class="text-container py-5">
<div class="main-heading" style="color: ;">Arcade <br/></div>
<div class="heading">
                Calling all players.<br/>Hundreds of worlds. Zero ads.
              </div>
<div class="options mt-1">
<a href="#" style="color: var(--color_2);">Learn More</a>
</div>
</div>
<div class="absolute-img"></div>
</div>
</div>
<div class="col-12 col-md-6 fifth p-2">
<div class="layout-container">
<div class="text-container py-5">
<div class="main-heading" style="color: ;">
                Put our Small Business<br/>
                Team to work for yuo.
              </div>
<div class="heading">
                Our experts are ready to help find the perfect <br/>solutions
                for your business and budget.
              </div>
<div class="options mt-1">
<a href="#" style="color: var(--color_2);">Learn more</a>
</div>
</div>
<div class="absolute-img"></div>
</div>
</div>
<div class="col-12 col-md-6 sixth p-2">
<div class="layout-container">
<div class="text-container py-5">
<div class="main-heading" style="color: var(--color_1);">
                Apple"s approach to <br/>reopening our stores.
              </div>
<div class="options mt-1">
<a href="#">Read the letter</a>
</div>
</div>
<div class="absolute-img"></div>
</div>
</div>
</div>
</div>
<script crossorigin="anonymous" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script crossorigin="anonymous" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script crossorigin="anonymous" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

</body>
</html>