<!DOCTYPE html>

<html lang="en">
<head>
<meta charset="utf-8"/>
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
<title>FloatingBanner</title>
<link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" rel="stylesheet"/>
<link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" rel="stylesheet"/>
<link href="css/absolutefloatingBanner.css" rel="stylesheet"/>
<link href="http://localhost:8002/media/azhar/templates/176/css/templateCss.css" rel="stylesheet"/></head>
<body>
<div class="container-fluid" style="height: 1000px;"></div>
<div class="container-fluid floating-banner p-0 pt-md-5">
<div class="row no-gutters">
<div class="col-12 col-md-6 first-col pt-md-4 p-xl-5 mt-md-5">
<div class="row no-gutters p-5">
<div class="col-12 main-heading pr-lg-4">
              A consecrated space where knowledge and culture thrive
            </div>
<div class="col-12 sub-heading mt-4 pr-lg-5">
              Established as Jagirdar’s College by the Seventh Nizam of
              Hyderabad – H.E.H. Mir Osman Ali Khan – in 1923, in Begumpet,
              Hyderabad; the Hyderabad Public School is older than the Indian
              Republic. Before the Zamindari system was abolished in 1950, the
              school was exclusively attended by the sons of aristocrats &amp;
              elites. It was renamed as The Hyderabad Public School in 1951, and
              it stands strong in the heart of Hyderabad, sprawling over a lush
              green campus of 122 acres.
            </div>
<div class="col-12 footer pb-md-5 mt-4">
<a href="#">Learn More</a>
</div>
</div>
</div>
<div class="col-12 col-md-7 col-lg-6 second-col pl-md-5 rellax" data-rellax-mobile-speed="0" data-rellax-percentage="0.5" data-rellax-speed="-1">
<div class="inner-container">
<div class="overlay-content">
<div class="row no-gutters p-5">
<div class="col-12 heading pl-md-5">
                  A Glimpse
                </div>
<div class="col-12 mt-2 sub-heading pl-md-5">
                  A glimpse into our glorious institution - The Hyderabad Public
                  School, Begumpet.
                </div>
</div>
</div>
</div>
</div>
<div class="col-12 col-md-5 third-col px-lg-5 rellax" data-rellax-mobile-speed="0" data-rellax-percentage="0.2" data-rellax-speed="3">
<div class="inner-container">
<div class="overlay-content">
<div class="row no-gutters p-5">
<div class="col-12 heading">
                  A Glimpse
                </div>
<div class="col-12 sub-heading mt-2">
                  A glimpse into our glorious institution - The Hyderabad Public
                  School, Begumpet.
                </div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="container-fluid" style="height: 1000px;"></div>
<script crossorigin="anonymous" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script crossorigin="anonymous" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script crossorigin="anonymous" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script src="https://cdn.rawgit.com/dixonandmoe/rellax/master/rellax.min.js"></script>
<script src="js/absolutefloatingBanner.js">
</script>
<script src="http://localhost:8002/media/azhar/templates/176/js/templateJs.js"></script></body>
</html>