<!DOCTYPE html>

<html lang="en">
<head>
<meta charset="utf-8"/>
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
<title>Fixed</title>
<link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" rel="stylesheet"/>
<link href="css/onefixed.css" rel="stylesheet"/>
<link href="http://localhost:8012/media/admin2/templates/190/css/templateCss.css" rel="stylesheet" type="text/css"/></head>
<body>
<nav>
<div class="logo-div d-flex p-2">
<img align="middle" src="http://localhost:8012/media/admin2/templates/190/templateMediafiles/logo.png"/>
<span class="align-self-center" style="font-size: 32px; font-weight: 300; margin-left: 10px;">basilico</span>
</div>
<div class="nav-links d-flex align-items-center w-100 justify-content-end">
<a href="#">
<span class="link-name">agency</span>
</a>
<a href="#">
<span class="link-name active">work</span>
</a>
<a href="#">
<span class="link-name">contact</span>
</a>
</div>
</nav>
<div class="container-fluid nav-attach-container">
<div class="row">
<div class="col-12 col-md-8">
<div class="row">
<div class="col-12" style="font-size: 15px; font-weight: 600;">
              BRANDING / UX DESIGN / DEVELOPMENT
            </div>
<div class="col-12 mt-3" style="
                color: var(--color_1);
                font-size: 36px;
                font-weight: 200;
                line-height: 1.2em;">
              A complete design and <br/>development process to help<br/>
              LeafWorks build a better botanical<br/>
              world
            </div>
</div>
</div>
<div class="col-4 d-none d-md-flex">
<div class="row">
<div class="col-12 px-5 pt-5" style="color: var(--color_2); font-weight: 100;">
              Branding<br/>
              Service design<br/>
              Content production <br/>UI/UX design <br/>Development
            </div>
</div>
</div>
</div>
</div>
<!--sticky navigation-->
<div class="container-fluid sticky-navbar">
<div class="nav-links d-flex align-items-center">
<a href="#" style="color: var(--color_3);">LeafWorks</a>
<a href="#" style="color: var(--color_4);">San Francisco, CA</a>
</div>
</div>
<div class="container-fluid video-container">
<div class="row">
<div class="col-12 p-0">
<div class="embed-responsive embed-responsive-16by9">
<div class="embed-responsive-item">
<video autoplay="http://localhost:8012/media/admin2/templates/190/templateMediafiles/" loop="" width="100%">
<source src="http://localhost:8012/media/admin2/templates/190/templateMediafiles/forest.mp4" type="video/mp4"/>
</video>
</div>
</div>
</div>
</div>
</div>
<div class="container-fluid white-container">
<div class="row">
<div class="col-12 col-lg-5 px-5 offset-lg-1">
<div class="row">
<div class="col-12" style="
                color: var(--color_5);
                font-size: 36px;
                line-height: 1.2em;
                font-weight: 200;">
              Testing and transparency: when and where everything started
            </div>
<div class="col-12 mt-5" style="
                color: var(--color_6);
                font-weight: 200;
                font-size: 17px;
                line-height: 1.7em;">
              It was 2015 when the New York Attorney General discovered that
              several products from the top herbal supplements on the market did
              not contain the plant ingredients written on their label. From
              that point, LeafWorks has started to develop a useful solution: a
              DNA-based verification process of top herbs on the market that can
              improve consumer confidence in what they are buying, selling or
              consuming.
            </div>
<div class="col-12 mt-3" style="color: var(--color_7); line-height: 1.7em; font-weight: 600;">
              LeafWorks" mission: boost user confidence and build a better
              botanical world
            </div>
<div class="col-12 mt-3" style="
                color: var(--color_6);
                font-weight: 200;
                font-size: 17px;
                line-height: 1.7em;">
              Being experts in herbal genetics, LeafWorks" mission is to improve
              brand security and consumer confidence in plant-based products.
              They believe that providing accurate DNA-based verification tools
              is the right way to maximize safety, steward sustainability and
              truly honor herbal culture.
            </div>
</div>
</div>
<div class="col-12 col-lg-5 px-5 mt-5 mt-lg-0">
<div class="row">
<div class="col-12" style="
                color: var(--color_5);
                font-size: 36px;
                line-height: 1.2em;
                font-weight: 200;">
              Design a process to provide complex service through an easy access
              web platform
            </div>
<div class="col-12 mt-5" style="color: var(--color_7); line-height: 1.7em; font-weight: 600;">
              First things first: the discovery phase
            </div>
<div class="col-12 mt-3" style="
                color: var(--color_6);
                font-weight: 200;
                font-size: 17px;
                line-height: 1.7em;">
              The first phase was dedicated to market research and understanding
              the business space in which LeafWorks operates. An immersion in
              the plants, the herbs and the genetics worlds have allowed us a
              better understanding of LeafWorks; their mission, their vision and
              their keywords. Furthermore, we focused on their business model to
              understand and help define a customer journey, designing the
              service and web platform as well as defining communication goals.
            </div>
</div>
</div>
</div>
</div>
<div class="container-fluid second-container">
<div class="row">
<div class="col-12 col-md-8 offset-md-4 col-lg-5">
<div class="row p-5 p-md-0">
<div class="col-12" style="
                font-size: 40px;
                font-weight: 500;
                line-height: 1.2em;
                color: var(--color_3);">
              Consistency as a key to create Brand Identity
            </div>
<div class="col-12 pt-5" style="font-weight: 200; line-height: 1.7em;">
              Each activity has been designed and structured in a harmonious and
              consistent way, characteristics made possible thanks to a full
              understanding of LeafWorks as a company, which we have followed
              since its early stage. This privilege has allowed us to define a
              brand identity that stands out for its solidity and unique look.
              An identity that benefits from an unmistakable visual
              communication that plays on the values and symbols of nature.
            </div>
</div>
</div>
</div>
</div>
<div class="container-fluid image-grid-container">
<div class="row">
<div class="col-7 p-0" style="max-height: 800px;">
<img height="100%" src="http://localhost:8012/media/admin2/templates/190/templateMediafiles/grid1.jpg" width="100%"/>
</div>
<div class="col-5 p-0">
<div class="row">
<div class="col-12" style="max-height: 400px;">
<img height="100%" src="http://localhost:8012/media/admin2/templates/190/templateMediafiles/grid2.jpg" width="100%"/>
</div>
<div class="col-12" style="max-height: 400px;">
<img height="100%" src="http://localhost:8012/media/admin2/templates/190/templateMediafiles/grid3.jpg" width="100%"/>
</div>
</div>
</div>
</div>
</div>
<div class="container-fluid" id="fixed-container">
<div class="row p-0">
<div class="col-12 col-md-6 left-col">
<div class="row" style="color: var(--color_3);">
<div class="col-6 pt-5 pl-5">
<img src="http://localhost:8012/media/admin2/templates/190/templateMediafiles/1.jpg"/>
</div>
<div class="col-6 pt-5 pr-5">
<img src="http://localhost:8012/media/admin2/templates/190/templateMediafiles/2.jpg"/>
</div>
<div class="col-6 pt-5 pl-5">
<img src="http://localhost:8012/media/admin2/templates/190/templateMediafiles/3.jpg"/>
</div>
<div class="col-6 pt-5 pr-5">
<img src="http://localhost:8012/media/admin2/templates/190/templateMediafiles/4.jpg"/>
</div>
<div class="col-6 pt-5 pl-5">
<img src="http://localhost:8012/media/admin2/templates/190/templateMediafiles/5.jpg"/>
</div>
<div class="col-6 pt-5 pr-5">
<img src="http://localhost:8012/media/admin2/templates/190/templateMediafiles/6.jpg"/>
</div>
<div class="col-6 pt-5 pl-5">
<img src="http://localhost:8012/media/admin2/templates/190/templateMediafiles/7.jpg"/>
</div>
<div class="col-6 pt-5 pr-5">
<img src="http://localhost:8012/media/admin2/templates/190/templateMediafiles/8.jpg"/>
</div>
<div class="col-6 pt-5 pl-5">
<img src="http://localhost:8012/media/admin2/templates/190/templateMediafiles/9.jpg"/>
</div>
<div class="col-6 pt-5 pr-5">
<img src="http://localhost:8012/media/admin2/templates/190/templateMediafiles/10.jpg"/>
</div>
<div class="col-6 pt-5 pl-5">
<img src="http://localhost:8012/media/admin2/templates/190/templateMediafiles/11.jpg"/>
</div>
<div class="col-6 pt-5 pr-5">
<img src="http://localhost:8012/media/admin2/templates/190/templateMediafiles/12.jpg"/>
</div>
</div>
</div>
<div class="col-12 col-md-6 right-col p-0">
<div class="row" id="fixed-col">
<div class="col-12">
              From storyboard to render Every detail, every step, every word,
              every design was created in order to drive users through the
              limitless world of plant genetics. The drafting of the storyboard
              required the selection of text, music, and images in order to
              create a journey to drive the user from the primordial soup to the
              modern era.
            </div>
</div>
</div>
</div>
</div>
<div class="container-fluid second-container" id="below-container">
<div class="row">
<div class="col-12 col-md-8 offset-md-4 col-lg-5">
<div class="row p-5 p-md-0">
<div class="col-12" style="
                font-size: 40px;
                font-weight: 100;
                line-height: 1.2em;
                color: var(--color_8);">
              Resistant to the roundtrip: easy to go - easy to come.
            </div>
<div class="col-12 pt-5" style="color: var(--color_3);">
              Packaging
            </div>
<div class="col-12 pt-5" style="font-weight: 200; line-height: 1.7em;">
              LeafWorks needed to create a kit to allow for the collection and
              shipment of plants that people collect and wish to have analyzed.
              We provided a concrete solution for this need by developing kits
              that not only respond to requests of practicality and
              functionality, but simultaneously communicate the value of
              LeafWorks. <br/><br/>This is why we have created a packaging
              characterized by organic material, natural colors, with the logo
              and some details of specifically designed plants. We were able to
              combine the right style with an eco-friendly choice: no plastic,
              yes recyclable material.
            </div>
</div>
</div>
</div>
</div>
<div class="container-fluid third-container">
<div class="row">
<div class="col-12"></div>
</div>
</div>
<div class="container-fluid fourth-container">
<div class="row">
<div class="col-12 touch-col">
<span id="footer-move"> Get in touch </span>
</div>
<div class="col-12 link-col">
<div class="row">
<div class="col-12 col-lg-5 offset-0 offset-lg-1 p-3 p-lg-0" style="font-size: 14px; color: var(--color_9);">
              Privacy policy – Cookies Policy Vicolo Quadra n°13, 25086 Rezzato
              (BS), Italy<br/>
              P.I./C.F./Reg.Imp. 03271470985 REA BS520015 – Cap.Soc. € 12.000
            </div>
<div class="col-12 col-lg-4 offset-0 offset-lg-1 mt-4" style="font-size: 16px; color: var(--color_3); word-spacing: 1em;">
              Facebook Instagram Twitter LinkedIn GitHub
            </div>
</div>
</div>
</div>
</div>
<script crossorigin="anonymous" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script crossorigin="anonymous" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script crossorigin="anonymous" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script src="js/onefixed.js"></script>
<script src="http://localhost:8012/media/admin2/templates/190/js/templateJs.js" type="text/javascript"></script></body>
</html>