<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Side Nav</title>
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<!-- <link rel="preconnect" href="https://fonts.gstatic.com"> -->
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
<!-- <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins&display=swap" rel="stylesheet"> -->
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="./sideNav.css">
</head>
<body>
	<nav class="top-nav">
		<h1>Cascade</h1>
		<ul>
			<li><a href="#">GitHub</a></li>
			<li><a href="#">Documentation</a></li>
			<li><a href="#">Pro</a></li>
			
		</ul>
		<div class="ham-burger">
			<div class="ham-line">
			</div>
		</div>
	</nav>
	<nav class="side-nav-bar">
		<div class="side-box">
			<h2>Documentation</h2>
			
			<ul class="hide">
				<h5>General</h5>
				<li><a href="#">GitHub</a></li>
				<li><a href="#">Documentation</a></li>
				<li><a href="#">Pro</a></li>
				
			</ul>

			<ul class="box1">
				<h5>GETTING started</h5>
				<li><a href="#">Introduction</a></li>
				<li><a href="#">Installation</a></li>
				<li><a href="#">Our Team</a></li>
					
			</ul>
		
			
			<ul>
				<h5>Components</h5>
				<li><a href="#">Accordion</a></li>
				<li><a href="#">Animation</a></li>
				<li><a href="#">Article</a></li>
				<li><a href="#">Button</a></li>
				<li><a href="#">Cards</a></li>
				<li><a href="#">Forms</a></li>
				<li><a href="#">Footer</a></li>
				<li><a href="#">Full Page</a></li>
				<li><a href="#">Gallery</a></li>
				<li><a href="#">Navigation Bar</a></li>
				<li><a href="#">ScrollBar</a></li>
				<li><a href="#">Spinner</a></li>
				<li><a href="#">Table</a></li>
				
			</ul>
		
		</div>
	</nav>
	<div class="container">
		<div class="intro1">
			<h1>Introduction</h1>
			<h3>Get familiar with the basic setup and overview of Cascading.</h3>
			<p>
				You just need to select a design from wide range of components .Then Copy and paste the desired content to your pc.
			</p>
			<button>Know More</button>
		</div>
		
		<div class="intro2" id="one">
			<h2># Community</h2>
			
			<p>
			A well designed community of templates which are upto the latest designs, quick, free and community based.
			</p>
	
			<div class="community-icons">
				<img src="./img/connected.jpg" alt="chrome">
			</div>
			
			
			
		</div>
		<div class="intro2" id="two">
			<h2># Designs and Contents</h2>
			
			<p>
				Our website will contain a huge amount of templates which can be just copied and pasted and need no styling from the user end. Our website will be the one stop for users who search for fully styled components like navigation bars, footers, cards & carousels etc. 
			</p>
	
			<div class="content-icons">
				<img src="./img/content.jpg" alt="chrome">
			</div>
			
			
			
		</div>
		<div class="intro2" id="three">
			<h2># Browser Support</h2>
			
			<p>
				The following table lists the versions that Cascade is tested on. it works just fine on all recent versions of that browser. With many browser moving towards a rolling release strategy, pinning down browser support to a specific version has become a little tricky in recent years. Long story short: cascade will work on pretty much any modern browser.
			</p>
			<div class="icons-support">
				<div class="icons">
					<img src="./img/chrome.svg" alt="chrome">
				</div>
				<div class="icons">
					<img src="./img/firefox.svg" alt="chrome">
				</div>
				<div class="icons">
					<img src="./img/opera.svg" alt="chrome">
				</div>
				<div class="icons">
					<img src="./img/edge.svg" alt="chrome">
				</div>
				<div class="icons">
					<img src="./img/internet-explorer_9-11.svg" alt="chrome">
				</div>
				
			</div>
			
		</div>
	</div>
	<nav class="right-side-nav">
		<ul class="scrolling-links">
			
			<li><a href="#one">Community</a></li>
			<li><a href="#two">Design And Contents</a></li>
			<li><a href="#three">Browser Support</a></li>
		</ul>

		<ul class="info">
			<li><a href="#"><i class="fab fa-instagram"></i></a></li>
			<li><a href="#"><i class="fab fa-github"></i></a></li>
			<li><a href="#"><i class="fab fa-twitter"></i></a></li>
		</ul>
	</nav>
	<script src="./sideNav.js"></script>
</body>
</html>