<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="./gallery_style.css">
	<script src="https://kit.fontawesome.com/8884192d9c.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css">
	<title>Document</title>
</head>
<body>

	<div class="image-widgets">
		<img src="./img/WhatsApp Image 2020-11-14 at 11.30.35 AM (1).jpeg" alt="">
		<img src="./img/WhatsApp Image 2020-11-14 at 11.30.35 AM.jpeg" alt="">
		<img src="./img/WhatsApp Image 2020-11-14 at 11.30.36 AM (1).jpeg" alt="">
		<img src="./img/WhatsApp Image 2020-11-14 at 11.30.36 AM.jpeg" alt="">
		<img src="./img/WhatsApp Image 2020-11-14 at 11.30.37 AM (1).jpeg" alt="">
		<img src="./img/WhatsApp Image 2020-11-14 at 11.30.37 AM.jpeg" alt="">
		<img src="./img/WhatsApp Image 2020-11-14 at 11.30.38 AM (1).jpeg" alt="">
		<img src="./img/WhatsApp Image 2020-11-14 at 11.30.38 AM.jpeg" alt="">
		<img src="./img/WhatsApp Image 2020-11-14 at 11.30.39 AM (1).jpeg" alt="">
		<img src="./img/WhatsApp Image 2020-11-14 at 11.30.40 AM (1).jpeg" alt="">
		<img src="./img/WhatsApp Image 2020-11-14 at 11.30.40 AM.jpeg" alt="">
	</div>
	<div id="galleryContainer">
		<a id="left" href="#"><i class="fas fa-long-arrow-alt-left"></i></a>
		<img class="image-gallery" src="" alt="">
		<a id="right" href="#"><i class="fas fa-long-arrow-alt-right"></i></a>
		<div class="image-scroll">
			<img src="./img/WhatsApp Image 2020-11-14 at 11.30.35 AM (1).jpeg" alt="">
			<img src="./img/WhatsApp Image 2020-11-14 at 11.30.35 AM.jpeg" alt="">
			<img src="./img/WhatsApp Image 2020-11-14 at 11.30.36 AM (1).jpeg" alt="">
			<img src="./img/WhatsApp Image 2020-11-14 at 11.30.36 AM.jpeg" alt="">
			<img src="./img/WhatsApp Image 2020-11-14 at 11.30.37 AM (1).jpeg" alt="">
			<img src="./img/WhatsApp Image 2020-11-14 at 11.30.37 AM.jpeg" alt="">
			<img src="./img/WhatsApp Image 2020-11-14 at 11.30.38 AM (1).jpeg" alt="">
			<img src="./img/WhatsApp Image 2020-11-14 at 11.30.38 AM.jpeg" alt="">
			<img src="./img/WhatsApp Image 2020-11-14 at 11.30.39 AM (1).jpeg" alt="">
			<img src="./img/WhatsApp Image 2020-11-14 at 11.30.40 AM (1).jpeg" alt="">
			<img src="./img/WhatsApp Image 2020-11-14 at 11.30.40 AM.jpeg" alt="">
		</div>
	</div>
	<script src="./app.js"></script>
</body>
</html>